

[iw-dd-element="dd-item"] {
  
}

[id-dd-element="dd-content"] {
  display: none !important;
}

[iw-dd-element="dd-item"].iw-dd-active [iw-dd-element="dd-content"] {
  display: flex;
}

[iw-dd-element="dd-visual"] {
  opacity: 0;
  transition-duration: 1s;
}

[iw-dd-element="dd-item"].iw-dd-active [iw-dd-element="dd-visual"] {
  opacity: 1;
}

[iw-dd-element="dd-icon-plus"] {
  display:flex;
}
[iw-dd-element="dd-icon-minus"] {
  display:none;
}
[iw-dd-element="dd-item"].iw-dd-active [iw-dd-element="dd-icon-plus"] {
  display:none;
}
[iw-dd-element="dd-item"].iw-dd-active [iw-dd-element="dd-icon-minus"] {
  display:flex;
}
