

/* Default */
[iw-element="dropdown"] {
}
[iw-element="dropdown-content"] {
  display: none;
}
[iw-element="dropdown-visual"] {
  opacity: 0;
  transition-duration: 1s;
}
[iw-element="dropdown-icon-plus"] {
  display:flex;
}
[iw-element="dropdown-icon-minus"] {
  display:none;
}

/* Active */

[iw-element="dropdown"][iw-status="active"] {
  [iw-element="dropdown-content"] {
    display: flex;
  }
  [iw-element="dropdown-visual"] {
    opacity: 1;
  }
  [iw-element="dropdown-icon-plus"] {
    display:none;
  }

  [iw-element="dropdown-icon-minus"] {
    display:flex;
  }
} 

