@media screen and (min-width: 992px) {

    /* Cas particulier pour tous les sliders */
    /* ************************************************** */
    .splide__sr{
        display: none;
        visibility: hidden;
    }
    .splide__slide{
        transition: all 0.3s ease-in-out;
    }
    .splide__arrow:disabled {
        opacity: 0;
        pointer-events: none;
    }

    /* Cas particulier pour les sliders Reviews-Cards */
    /* ************************************************** */
    .splide__slide.v-reviews-cards{
        transition: all 0.3s ease-in-out;
    }
    .splide__slide.v-reviews-cards:not(.is-visible){
        opacity:0.3;
    }
    .splide__slide.v-reviews-cards.is-visible{
        opacity:1;
    }
    .splide__slide.v-reviews-cards .card-review_infos{
        transition: all 0.3s ease-in-out;
    }

    .splide__slide.v-reviews-cards .card-review_action{
        display: flex;
        height: 0 !important;
        opacity: 0;
        transition: all 0.3s ease-in-out;
    }
    .splide__slide.v-reviews-cards:hover .card-review_action{
        display: flex;
        height: auto;
        opacity: 1;
    }

    /* Cas particulier pour les sliders Reviews-Marquee */
    /* ************************************************** */
    .splide__slide.v-reviews-marquee:not(.is-visible){
        opacity:1;
    }

    /* Cas particulier pour les sliders Targets */
    /* ************************************************** */
    

}