
  
  /* Hide scrollbar for Chrome, Safari and Opera */
  .example::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .example {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
/* --- SLIDER ------------------------------------------------------------------------ */
  /* Correction for all the Splide Sliders */

  .splide__sr{
    display:none !important;
    visibility: hidden !important;
  }

  /* Correction for the ProgramContents Splide Sliders */
  .program-a_content .splide__arrows{
    display:none;
  }
  .program-a_content .splide__pagination{
    display:none;
  }
  .program-a_content_item .program-a_content_infos{
    opacity: 0;
    transform : translateY(0.75rem);
  }
  .program-a_content_item.is-active .program-a_content_infos{
    opacity: 1;
    transform : translateY(0rem); 
    transition-duration: 400ms;
    transition-delay: 0ms;
  }
  .program-a_content_item .program-a_content_details{
    opacity: 0;
    transform : translateY(0.75rem);
  }
  .program-a_content_item.is-active .program-a_content_details{
    opacity: 1;
    transform : translateY(0rem); 
    transition-duration: 400ms;
    transition-delay: 200ms;
  }

  /* Correction for the ProgramChapters Splide Sliders */
  .program-a_chapters_content .splide__arrows{
    display:none;
  }
  .program-a_chapters_item .program-a_chapters_titre{
    opacity: 0.05;
    transition-duration: 1200ms;
  }
  .program-a_chapters_item .program-a_chapters_tooltip{
    opacity: 0;
    transform : translateY(0.5rem); 
    transition-duration: 400ms;
  }
  .program-a_chapters_item .program-a_chapters_detail{
    opacity: 0;
    transition-duration: 800ms;
    transition-delay: 200ms;
  }
  .program-a_chapters_item.is-active .program-a_chapters_titre{
    opacity: 1;
  }
  .program-a_chapters_item.is-active .program-a_chapters_tooltip{
    opacity: 0;
    transform : translateY(0.5rem);
    transition-duration: 200ms;
  }
  .program-a_chapters_item.is-active .program-a_chapters_detail{
    opacity: 1;
  }
  .program-a_chapters_item.is-active:hover .program-a_chapters_titre{
    opacity: 1;
  }
  .program-a_chapters_item.is-active:hover .program-a_chapters_tooltip{
    opacity: 0;
  }
  .program-a_chapters_item.is-active:hover .program-a_chapters_detail{
    opacity: 1;
  }
  .program-a_chapters_item:hover .program-a_chapters_titre{
    opacity: 0.10;
  }
  .program-a_chapters_item:hover .program-a_chapters_tooltip{
    opacity: 1;
    transform : translateY(0rem); 
  }
  .program-a_chapters_item:hover .program-a_chapters_detail{
    opacity: 0;
  }
  .program-a_chapters_item.is-next .program-a_chapters_tooltip{
    opacity: 1;
    transform : translateY(0rem);
    transition-delay: 800ms;
  }
  .program-a_chapters_item.is-next:hover .program-a_chapters_tooltip{
    opacity: 1;
    transform : translateY(0rem);
    transition-delay: 800ms;
  }

  .program-a_chapters_pagination li{
    list-style-type:none;
  }
  .program-a_chapters_pagination li .splide__pagination__page{
    width:4rem;
    height:2px;
    background-color:var(--background-color--secondary-100);
    opacity:0.3;
    position:relative;
    border-radius:0.5rem;
    transition-duration: 400ms;
  }
  .program-a_chapters_pagination li .splide__pagination__page.is-active{
    background-color:var(--background-color--secondary-100);
    opacity:1;
    border-radius:0.5rem;
  }

  /* Correction for the ReviewsA Splide Sliders */
  .reviews-a_content .splide__arrows{
    display:none;
  }
  .reviews-a_content .splide__pagination{
    display:none;
  }
  .reviews-a_content_item {
    opacity: 0.15;
  }
  .reviews-a_content_item .reviews-a_content_grade_verified_text{
    display:none;
  }
  .reviews-a_content_item.is-active{
    opacity: 1;
    transition-duration: 400ms;
    transition-delay: 0ms;
  }
  .reviews-a_content_item.is-active .reviews-a_content_grade_verified_text{
    display: block;
  }

  