
  /* Correction for the ProgramContents Splide Sliders */
  [iw-slider-id="program-content"] .splide__arrows{
    display:none;
  }
  [iw-slider-id="program-content"]  .splide__pagination{
    display:none;
  }
  [iw-slider-id="program-content"] .program-a_content_infos{
    opacity: 0;
    transform : translateY(0.75rem);
  }
  [iw-slider-id="program-content"] .program-a_content_item.is-active .program-a_content_infos{
    opacity: 1;
    transform : translateY(0rem); 
    transition-duration: 400ms;
    transition-delay: 0ms;
  }
  [iw-slider-id="program-content"] .program-a_content_item .program-a_content_details{
    opacity: 0;
    transform : translateY(0.75rem);
  }
  [iw-slider-id="program-content"] .program-a_content_item.is-active .program-a_content_details{
    opacity: 1;
    transform : translateY(0rem); 
    transition-duration: 400ms;
    transition-delay: 200ms;
  }

  /* Correction for the ProgramChapters Splide Sliders */
  [iw-slider-id="program-chapters"] .splide__arrows{
    display:none;
  }
  [iw-slider-id="program-chapters"] .program-a_chapters_item .program-a_chapters_titre{
    opacity: 0.05;
    transition-duration: 1200ms;
  }
  [iw-slider-id="program-chapters"] .program-a_chapters_item .program-a_chapters_tooltip{
    opacity: 0;
    transform : translateY(0.5rem); 
    transition-duration: 400ms;
  }
  [iw-slider-id="program-chapters"] .program-a_chapters_item .program-a_chapters_detail{
    opacity: 0;
    transition-duration: 800ms;
    transition-delay: 200ms;
  }
  [iw-slider-id="program-chapters"] .program-a_chapters_item.is-active .program-a_chapters_titre{
    opacity: 1;
  }
  [iw-slider-id="program-chapters"] .program-a_chapters_item.is-active .program-a_chapters_tooltip{
    opacity: 0;
    transform : translateY(0.5rem);
    transition-duration: 200ms;
  }
  [iw-slider-id="program-chapters"] .program-a_chapters_item.is-active .program-a_chapters_detail{
    opacity: 1;
  }
  [iw-slider-id="program-chapters"] .program-a_chapters_item.is-active:hover .program-a_chapters_titre{
    opacity: 1;
  }
  [iw-slider-id="program-chapters"] .program-a_chapters_item.is-active:hover .program-a_chapters_tooltip{
    opacity: 0;
  }
  [iw-slider-id="program-chapters"] .program-a_chapters_item.is-active:hover .program-a_chapters_detail{
    opacity: 1;
  }
  [iw-slider-id="program-chapters"] .program-a_chapters_item:hover .program-a_chapters_titre{
    opacity: 0.10;
  }
  [iw-slider-id="program-chapters"] .program-a_chapters_item:hover .program-a_chapters_tooltip{
    opacity: 1;
    transform : translateY(0rem); 
  }
  [iw-slider-id="program-chapters"] .program-a_chapters_item:hover .program-a_chapters_detail{
    opacity: 0;
  }
  [iw-slider-id="program-chapters"] .program-a_chapters_item.is-next .program-a_chapters_tooltip{
    opacity: 1;
    transform : translateY(0rem);
    transition-delay: 800ms;
  }
  [iw-slider-id="program-chapters"] .program-a_chapters_item.is-next:hover .program-a_chapters_tooltip{
    opacity: 1;
    transform : translateY(0rem);
    transition-delay: 800ms;
  }

  [iw-slider-id="program-chapters"] li{
    list-style-type:none;
  }
  [iw-slider-id="program-chapters"] li .splide__pagination__page{
    width:4rem;
    height:2px;
    background-color:var(--background-color--secondary-100);
    opacity:0.3;
    position:relative;
    border-radius:0.5rem;
    transition-duration: 400ms;
  }
  [iw-slider-id="program-chapters"] li .splide__pagination__page.is-active{
    background-color:var(--background-color--secondary-100);
    opacity:1;
    border-radius:0.5rem;
  }




  [iw-slider-id="situation-content"] .splide__arrows{
    display:none;
  }
  [iw-slider-id="situation-content"] .splide__pagination{
    display:none;
  }

  [iw-slider-id="situation-themes"] .splide__arrows{
    display:none;
  }
  [iw-slider-id="situation-themes"] .splide__pagination{
    display:none;
  }

  .splide__sr{
    visibility: hidden !important;
    display: none !important;
  }